@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	35;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.2814%;
	padding-left: 2.3592%;
	padding-right: 2.3592%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
	color: #000000;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#maincontent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#amincontent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#contentmain {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 89.9861%;
	padding-left: 1.5069%;
	padding-right: 1.5069%;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#nav {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#maincontent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.0555%;
	max-width: 1232px;
	padding-left: 0.9722%;
	padding-right: 0.9722%;
	margin: auto;
}

#maincontent {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#footertext {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #D6D6D6;
}
#footertext {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 12px;
	color: #D6D6D6;
}


#footer {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

#nav {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 50px;
}
#bgi {
	width: 100%;
	position: fixed;
	z-index: -100;
	left: 0px;
	top: 0px;
	min-width: 100%;
	min-height: 75%;
}
